@model WebApplication.Models.ApplicationUser
@using System.Linq;
@using WebApplication.Models;
@{
    ViewBag.Title = "UsersInfo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>UsersInfo</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>
    @{var db = new ApplicationDbContext();}
    @foreach (var item in db.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @*Details*@
                @Html.ActionLink("Activate", "Activate", new { id = item.Id}) |
                @*//Deactivate*@
                @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id })
            </td>
        </tr>
    }
