@using WebApplication.Extensions
<!DOCTYPE html>
<style>
    .bckg {
        background: repeating-linear-gradient( -55deg, #222, #222 10px, #333 10px, #333 20px );
        background-size: 16px 16px;
        color: white;
    }
    select {
        background-color: #005580;
    }
    input {
        background-color: #005580;
    }
</style>
<html>
<head>
    <link rel="shortcut icon" href="~/Images/favicon2.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebApplication</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")

</head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header" style="background-color:black;">
                <a href="@Url.Action("Index", "Admin")" class="logo">
                    <span class="logo-mini"><b>W</b>eb</span>
                    <span class="logo-lg"><b>TMS</b></span>
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar">

                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>

                        <li id="left-sidebar-menu-widgets">
                            <a href="@Url.Action("AdminIndex", "Home")">
                                <i class="fa fa-th"></i> <span>Home</span>
                            </a>
                        </li>
                        @*<li id="left-sidebar-menu-charts" class="treeview">
                            <a href="@Url.Action("UsersInfo", "Home", "Home")">
                                <i class="fa fa-th"></i> <span>Users</span>
                            </a>
                            
                        </li>
                        <li id="left-sidebar-menu-elements" class="treeview">
                            <a href="@Url.Action("RecoverPassword", "Home")">
                                <i class="fa fa-th"></i> <span>Recover password</span>
                            </a>
                           
                        </li>*@
                      
                    </ul>
                </section>
            </aside>
            <div class="content-wrapper bckg">
                <section class="content-header">
                    <h1>
                        @ViewBag.Title
                        <small>@ViewBag.SubTitle</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                        <li class="active">@ViewBag.Title</li>
                    </ol>
                </section>
                <section class="content">
                    @RenderBody()
                </section>
            </div>
        </div>


        @Scripts.Render("~/AdminLTE/plugins/jquery/js")
        @RenderSection("menu", required: false)
        @Scripts.Render("~/AdminLTE/bootstrap/js")
        @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
        @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
        @Scripts.Render("~/Scripts/Shared/_Layout")
        @Scripts.Render("~/AdminLTE/dist/js")
        @RenderSection("scripts", required: false)
    </body>
</html>